<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="right"><%= f.label :email %><%= f.email_field :email, autofocus: true %>
  <%= f.label :password %><%= f.password_field :password, autocomplete: "off" %></div>
  <div class="navbar"><%= f.submit "Sign in" %></div><br />
  <% if devise_mapping.rememberable? -%>
    <div class="navbar"><%= f.check_box :remember_me %> <%= f.label :remember_me %>  <%= render "users/shared/links" %></div>
  <% end -%>
<% end %>