<h1>All Visits in <%= @location.name %></h1>
<%= content_tag(:h2, "There are no visits!") unless @visits.length > 0 %>
<%= content_tag(:h2, flash[:notice]) if flash[:notice] %>
<ul>
	<% @visits.each do |visit|  %>
		<li>
		<%= link_to @user_name[visit.id], location_visit_path(visit.location_id, visit.id) %>
		 <%= link_to "Delete visit", location_visit_path(@location, visit), method: 'delete', confirm: "Are you sure?" %>
		 <%= link_to "Edit visit", edit_location_visit_path(@location, visit) %>
		</a></li>
<% end %>
</ul>
<%= link_to "Back to #{@location.name}", location_path(@location) %>