<ul>
	<% @locations.each do |location|  %>
	<% if location.name.present? %>
		<li><%= location.name %> - <span><%= location.city %></span> - <span><%= location.description %></span> - <span><%= location.zip_code %></span> - <span><%= location.country %></span></li>
	<% end %>
<% end %>
</ul>